{% extends 'base.html' %}

{% block title %}

Detail

{% endblock %}

{% block content %}

<p>You're voting on question {{question}}</p>

<form action="{% url 'polls:vote' question.pk %}" method="POST">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
     <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
     <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
     <input type="submit" value="Vote" />

    {% endfor %}

</form>



{% endblock %}